*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

#first-circle{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}

#second-circle{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-circle{
    width:90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}